h1 {
    animation: text-shadow 15s ease-in-out infinite;
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
    padding-bottom: 50px;
}

/* main {
    font-size: large;
    color: black;
    overflow: hidden;
} */
.card {
    min-width: 100%;
    min-height: 90%;
    padding: 2rem;
    background: white;
}
.border-gradient {
    min-width: 20%;
    max-width: 300px;
    min-height: 60%;
    max-height: 60%;
    padding: 10px;
    background: linear-gradient(45deg, red, blue);
    border-radius: 30px;
}

.border-gradient-no-transition {
    padding: 10px;
    background: linear-gradient(45deg, red, blue);   
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    2% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    4% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   6% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    8% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
    49% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-0.5rem);
    }
    51% {
        transform: translateX(1rem);
    }
    52% {
        transform: translateX(0);
    }
}

.link {
  font-weight: 900;
  font-size: 40px;
  background: white;
  border-radius: 5px;
  padding: 10px 20px;
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.cocktailList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-height: 90%;
    overflow-y: scroll;
}

.musicList {
  max-height: 90%;
  overflow-y: scroll;
}

.musicList li {
  padding: 4px;
  font-weight: 400;
  max-width: 100%;
}

.cocktailList li {
    width: 70%;
}
.cocktailList img {
    padding: 2px;
}


html {
    overflow: hidden;
    background: #123;
  }
  
  main, head {
    display: block; 
    font-size: 52px;
    color: transparent;
  }
  
  head::before, head::after,
  main::before, main::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }
  
  main::before {
    text-shadow: 1.4952886907em 0.5833486293em 7px rgba(255, 244, 0, 0.9), 1.4717071759em 1.9712902268em 7px rgba(188, 0, 255, 0.9), -0.2302391306em 0.7922216775em 7px rgba(0, 255, 191, 0.9), 1.1943712992em 2.3853109162em 7px rgba(0, 40, 255, 0.9), 1.7908184173em 0.3524758291em 7px rgba(255, 0, 34, 0.9), -0.3735768605em -0.2522987493em 7px rgba(54, 255, 0, 0.9), 2.1762951869em 2.3762025944em 7px rgba(53, 0, 255, 0.9), 1.1432391845em 0.1244014642em 7px rgba(56, 0, 255, 0.9), 1.371727033em 0.4165835607em 7px rgba(0, 255, 132, 0.9), 0.6223866268em 2.4169319146em 7px rgba(255, 8, 0, 0.9), -0.0763687376em 2.3116627185em 7px rgba(0, 255, 50, 0.9), 0.4115794892em 0.3565521297em 7px rgba(128, 255, 0, 0.9), 0.5641164204em 1.1699568942em 7px rgba(255, 192, 0, 0.9), 0.3277933263em 1.5484601673em 7px rgba(255, 0, 234, 0.9), 0.0437607807em -0.4435041142em 7px rgba(0, 255, 195, 0.9), 0.6489500076em 0.772641116em 7px rgba(255, 0, 119, 0.9), 0.1979743473em 1.0598781072em 7px rgba(0, 228, 255, 0.9), 0.8949698674em 0.8876009666em 7px rgba(255, 233, 0, 0.9), 0.2724665647em -0.4415076768em 7px rgba(255, 26, 0, 0.9), -0.3622088273em 1.5728096058em 7px rgba(255, 36, 0, 0.9), 0.5017379397em 2.3036403903em 7px rgba(255, 90, 0, 0.9), 1.5209802283em 0.8203366354em 7px rgba(18, 255, 0, 0.9), 1.4595874033em 2.3838567782em 7px rgba(0, 36, 255, 0.9), 1.2949091657em 0.7907767272em 7px rgba(0, 110, 255, 0.9), 0.2248054012em 2.2771879268em 7px rgba(255, 0, 47, 0.9), 0.3336245994em 1.5724771243em 7px rgba(0, 66, 255, 0.9), 1.2259620673em 0.9034692577em 7px rgba(0, 255, 23, 0.9), 1.0286337164em 0.8640029494em 7px rgba(53, 255, 0, 0.9), 0.2554704443em 0.9939026063em 7px rgba(255, 38, 0, 0.9), 2.3957320054em 1.6337288422em 7px rgba(20, 0, 255, 0.9), 1.5535334491em -0.15108283em 7px rgba(0, 255, 113, 0.9), 1.1003085333em 0.8788594902em 7px rgba(0, 90, 255, 0.9), 1.3993610016em 0.1074806596em 7px rgba(255, 153, 0, 0.9), 0.9099816038em 1.4501994062em 7px rgba(255, 45, 0, 0.9), 0.0123629119em -0.4997209885em 7px rgba(255, 80, 0, 0.9), 2.2985617718em 0.940593576em 7px rgba(0, 255, 182, 0.9), 1.4370157739em 2.1233320364em 7px rgba(0, 17, 255, 0.9), 0.8113781548em -0.3731999059em 7px rgba(0, 217, 255, 0.9), 1.6674062744em 0.1135360154em 7px rgba(255, 249, 0, 0.9), 1.6987628876em 0.2211114236em 7px rgba(255, 0, 148, 0.9), 2.2808188982em 1.6221812061em 7px rgba(0, 10, 255, 0.9);
    animation-duration: 44s;
    animation-delay: -27s;
  }
  
  main::after {
    text-shadow: -0.4538613803em 0.92195917em 7px rgba(0, 124, 255, 0.9), 0.2144792605em 1.9176242603em 7px rgba(255, 0, 104, 0.9), 1.0608867341em -0.0302567729em 7px rgba(0, 255, 160, 0.9), 0.0953976217em 1.4733994901em 7px rgba(82, 255, 0, 0.9), 1.5208339445em 2.3489305127em 7px rgba(17, 0, 255, 0.9), 0.3492764555em -0.1743397739em 7px rgba(179, 0, 255, 0.9), 1.1187511741em 0.7549702511em 7px rgba(0, 12, 255, 0.9), 0.8715953995em 0.1590791572em 7px rgba(0, 51, 255, 0.9), 1.8708565165em 0.5200184279em 7px rgba(0, 255, 231, 0.9), 0.5909450512em 2.3618157503em 7px rgba(0, 152, 255, 0.9), 1.9834071564em 0.6544181558em 7px rgba(255, 218, 0, 0.9), -0.1565712607em -0.1797320359em 7px rgba(170, 0, 255, 0.9), 0.0938535689em 0.0629694837em 7px rgba(255, 218, 0, 0.9), 1.9588771244em 2.4734221809em 7px rgba(167, 255, 0, 0.9), 1.9601285751em 0.8650740191em 7px rgba(255, 0, 209, 0.9), -0.1646993028em -0.1904928022em 7px rgba(255, 226, 0, 0.9), -0.0318243165em 0.5936375998em 7px rgba(74, 255, 0, 0.9), 1.5987429563em 0.3243993786em 7px rgba(69, 0, 255, 0.9), 1.0438889688em 0.2238749381em 7px rgba(0, 235, 255, 0.9), -0.4483990441em 1.0834335091em 7px rgba(60, 0, 255, 0.9), 0.2125667549em -0.13600972em 7px rgba(23, 255, 0, 0.9), 2.1140219553em 0.9344160389em 7px rgba(255, 69, 0, 0.9), 1.6703118506em 0.2533613261em 7px rgba(0, 40, 255, 0.9), 0.1975266484em 1.7023826154em 7px rgba(22, 255, 0, 0.9), 0.6063270701em 1.114105293em 7px rgba(255, 0, 149, 0.9), -0.4606314554em 1.2652005371em 7px rgba(0, 255, 27, 0.9), 0.0274263205em 0.592422663em 7px rgba(255, 0, 75, 0.9), -0.2394907282em 0.5564544491em 7px rgba(68, 255, 0, 0.9), 0.6616470007em 0.3988101722em 7px rgba(121, 255, 0, 0.9), 2.2677925399em 0.6793575718em 7px rgba(14, 0, 255, 0.9), 0.383745496em -0.2233062013em 7px rgba(0, 133, 255, 0.9), 0.7571942479em 1.8597592874em 7px rgba(255, 0, 72, 0.9), 2.321120902em 0.7554914026em 7px rgba(254, 0, 255, 0.9), 2.2805671664em 0.9651109951em 7px rgba(255, 168, 0, 0.9), 1.5106474607em 1.6851932005em 7px rgba(0, 82, 255, 0.9), 0.0285600569em 0.492282114em 7px rgba(255, 156, 0, 0.9), 1.385779237em 0.9203307979em 7px rgba(255, 110, 0, 0.9), 0.2381426101em 0.0236458781em 7px rgba(0, 255, 50, 0.9), 0.1118920818em -0.3356018998em 7px rgba(7, 255, 0, 0.9), 2.3385680878em 0.1593040056em 7px rgba(255, 178, 0, 0.9), 2.1977732531em 1.3011410417em 7px rgba(255, 0, 45, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
  }
  
  head::before {
    text-shadow: -0.4213237297em 0.0099367958em 7px rgba(255, 0, 200, 0.9), 0.6099830879em 1.0618739204em 7px rgba(0, 255, 218, 0.9), 0.0538911202em 0.315863636em 7px rgba(127, 255, 0, 0.9), 0.8196523634em 0.7088155778em 7px rgba(102, 255, 0, 0.9), -0.0470557132em 1.5344375886em 7px rgba(255, 126, 0, 0.9), 0.222606249em 2.4704251892em 7px rgba(0, 60, 255, 0.9), -0.2196146405em 1.3961751776em 7px rgba(0, 255, 31, 0.9), 2.1860918231em 2.2952696027em 7px rgba(255, 0, 146, 0.9), 2.3765329073em 2.1515888954em 7px rgba(255, 0, 140, 0.9), 0.1166925109em 1.5140487437em 7px rgba(229, 255, 0, 0.9), 0.916255707em 1.061680015em 7px rgba(0, 255, 89, 0.9), 0.9308460738em 0.8835075166em 7px rgba(0, 255, 183, 0.9), 0.2694979668em 2.0936420919em 7px rgba(0, 255, 150, 0.9), 1.1760195142em 2.3002723673em 7px rgba(255, 0, 30, 0.9), 2.3145995966em 1.7388429774em 7px rgba(255, 41, 0, 0.9), 1.0941981774em 0.1091993112em 7px rgba(0, 255, 220, 0.9), 1.6986110019em 0.7444615376em 7px rgba(158, 0, 255, 0.9), 1.4021597096em -0.2448015996em 7px rgba(0, 245, 255, 0.9), 1.7585728162em 2.0876703083em 7px rgba(255, 194, 0, 0.9), 0.7696617483em 0.081037101em 7px rgba(203, 255, 0, 0.9), -0.1752617006em 0.3304968226em 7px rgba(255, 254, 0, 0.9), -0.3745379215em 1.4584201087em 7px rgba(0, 255, 93, 0.9), 0.8696805812em 2.3590684735em 7px rgba(255, 0, 128, 0.9), -0.1963002674em 0.6498471146em 7px rgba(0, 255, 76, 0.9), 2.4100015103em 1.355723869em 7px rgba(203, 0, 255, 0.9), 2.1385014186em 1.7150256272em 7px rgba(237, 0, 255, 0.9), -0.1109801627em 2.4794113822em 7px rgba(255, 0, 87, 0.9), 0.3935726627em -0.2447060372em 7px rgba(0, 144, 255, 0.9), 1.6778454462em 2.4034479361em 7px rgba(59, 0, 255, 0.9), -0.3112177877em -0.3630372223em 7px rgba(255, 132, 0, 0.9), 1.086879112em 1.539913743em 7px rgba(0, 255, 32, 0.9), 0.6184223907em 0.8294367037em 7px rgba(255, 0, 123, 0.9), 1.3723496281em 1.0569686672em 7px rgba(255, 60, 0, 0.9), 1.383175438em 1.7384908502em 7px rgba(255, 153, 0, 0.9), 0.8541628716em 1.9357989961em 7px rgba(255, 243, 0, 0.9), -0.1967276355em 2.4763453482em 7px rgba(255, 0, 79, 0.9), 1.7402423696em 0.1751268345em 7px rgba(94, 0, 255, 0.9), 2.2043824415em 0.0872662419em 7px rgba(0, 245, 255, 0.9), 0.6938955201em 0.4491635701em 7px rgba(0, 255, 13, 0.9), 1.8110663029em -0.2155966009em 7px rgba(0, 255, 72, 0.9), 1.0159805906em 0.1297371988em 7px rgba(0, 255, 175, 0.9);
    animation-duration: 42s;
    animation-delay: -23s;
  }
  
  head::after {
    text-shadow: -0.156545188em 0.6185389712em 7px rgba(0, 255, 106, 0.9), 2.2691382749em 0.7751138353em 7px rgba(198, 255, 0, 0.9), -0.2148628523em 1.9680821882em 7px rgba(255, 22, 0, 0.9), 1.8640636549em 2.3030318542em 7px rgba(73, 0, 255, 0.9), 0.1295231902em 2.2022481197em 7px rgba(0, 255, 172, 0.9), 0.01654007em 2.3071236706em 7px rgba(201, 255, 0, 0.9), 1.5946358795em 1.2477656886em 7px rgba(0, 107, 255, 0.9), 1.4960762222em 0.0791364957em 7px rgba(119, 0, 255, 0.9), 0.1830701982em 1.015548237em 7px rgba(255, 231, 0, 0.9), 1.6154790195em 1.6364328179em 7px rgba(0, 255, 80, 0.9), 1.7426863028em 1.7571608238em 7px rgba(255, 109, 0, 0.9), 2.2738229908em 2.4404152689em 7px rgba(255, 0, 249, 0.9), 2.3158570039em 0.4039242573em 7px rgba(249, 0, 255, 0.9), 1.8331250079em 1.6973563406em 7px rgba(0, 255, 15, 0.9), -0.2683737283em 0.7478802852em 7px rgba(102, 255, 0, 0.9), -0.0181304113em 0.7440850833em 7px rgba(255, 46, 0, 0.9), 0.8855998902em -0.4181988955em 7px rgba(92, 0, 255, 0.9), -0.0752980925em -0.1817653679em 7px rgba(0, 13, 255, 0.9), 1.424156341em 0.9391519294em 7px rgba(0, 255, 150, 0.9), 1.8551117876em -0.0995295578em 7px rgba(0, 139, 255, 0.9), 1.6446904032em 1.439315261em 7px rgba(0, 234, 255, 0.9), 0.3471383211em 0.211344707em 7px rgba(255, 35, 0, 0.9), 1.4367611206em 0.7934655459em 7px rgba(0, 255, 63, 0.9), 0.3817195547em 2.1759919905em 7px rgba(187, 0, 255, 0.9), 1.3120598966em -0.2004922775em 7px rgba(0, 255, 169, 0.9), -0.0825094119em 0.4170412223em 7px rgba(227, 255, 0, 0.9), -0.0726700051em 1.1965299639em 7px rgba(0, 255, 116, 0.9), 0.0128000356em 2.105991583em 7px rgba(0, 255, 75, 0.9), 0.3834202133em 1.5179086418em 7px rgba(255, 0, 2, 0.9), 0.3961493223em 2.1156710716em 7px rgba(0, 255, 247, 0.9), 0.213605147em 1.3813328336em 7px rgba(255, 0, 148, 0.9), 1.6872566897em 0.5019148712em 7px rgba(0, 255, 38, 0.9), 1.4590148916em 1.881858546em 7px rgba(168, 0, 255, 0.9), 0.7565253024em 2.0131892505em 7px rgba(255, 0, 202, 0.9), 1.646514564em 1.511491809em 7px rgba(249, 255, 0, 0.9), -0.4134145275em 2.2840813715em 7px rgba(255, 202, 0, 0.9), 1.4600816077em 1.2942187036em 7px rgba(255, 215, 0, 0.9), 2.4842787743em 1.1785139997em 7px rgba(114, 255, 0, 0.9), 0.5672465276em 0.6957775939em 7px rgba(222, 0, 255, 0.9), 1.6231583759em 1.9100061833em 7px rgba(255, 0, 84, 0.9), 2.0075038369em 2.1650320654em 7px rgba(0, 255, 144, 0.9);
    animation-duration: 41s;
    animation-delay: -19s;
  }
  
  @keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  }